.main_homesection{
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 50px 0px;
    border-radius: 5px;
    width: 400px;
}
.main_homesection h1{
    font-size: 28px;
    margin-bottom: 30px;
}
.main_homesection .login_section .login_btn{
    padding: 15px 40px;
    color: #000;
    background: #f1f1f1;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.promo_claimsection .claims_btn:focus,
.promo_claimsection .available_btn:focus{
    box-shadow: none;
}
.promo_claimsection .claims_btn,
.promo_claimsection .available_btn{
    padding: 5px 12px;
    color: #000;
    background: #f1f1f1;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}
.promo_claimsection .claims_btn{
    background: #fff;
}
.main_div .card{
    display: flex;
    flex-direction: inherit;
}
.main_footershopsection{
    margin: 15px 0px 0px !important;
}
.main_footersection{
    margin: 15px -8px 0px;
}
.main_footersection .footer_media{
    background: #383737;
    width: 100%;
    padding: 15px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.main_footersection .footer_media .media_home i{
    font-size: 20px;
    color: #787878;
}
.main_footersection .footer_media .media_home h3{
    font-size: 16px;
    color: #787878;
}